.list-attendees .checkcon { font-size: 28px; cursor: pointer; }
.list-attendees .checkcon:hover { color: lightgreen;}
.list-attendees .checkcon:hover { color: lightgreen;}
.list-attendees .checkcon.selected { color: lightgreen; }